<div class="container-fluid">
  <div class="row">
    <div class="sidebar col-sm-auto sticky-top">
      <div
        class="sidebar d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top"
      >
        <a
          routerLink="/"
          class="d-block p-3 link-light"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Icon-only"
        >
          <i class="bi bi-bank fs-1"></i>
        </a>
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center"
        >
          <li class="nav-item">
            <a
              routerLink="/account"
              class="nav-link py-3 px-2 text-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Home"
            >
              <i class="bi bi-house fs-2"></i>
            </a>
          </li>
          <li>
            <a
              routerLink="/account/transfer"
              class="nav-link py-3 px-2 text-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Transfer"
            >
              <i class="bi bi-arrow-left-right fs-2"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100 position-relative">
      <!-- Main Content -->
      Content here
    </div>
  </div>
</div>
