<!-- manage.component.html -->
<div class="row px-5 py-2 flex-sm-column">
  <!-- Tab Navigation -->
  <div class="col-12 col-md-8">
    <div class="list-group" id="list-tab" role="tablist">
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="{ active: activeTab === 'view-account' }"
        (click)="setActiveTab('view-account')"
        role="tab"
        aria-controls="list-view-account"
      >
        View Banking Accounts
      </a>
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="{ active: activeTab === 'new-account' }"
        (click)="setActiveTab('new-account')"
        role="tab"
        aria-controls="list-new-account"
      >
        Create New Account
      </a>
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="{ active: activeTab === 'transfer' }"
        (click)="setActiveTab('transfer')"
        role="tab"
        aria-controls="list-transfer"
      >
        Transfer Funds
      </a>
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="{ active: activeTab === 'history' }"
        (click)="setActiveTab('history')"
        role="tab"
        aria-controls="list-history"
      >
        Transaction History
      </a>
    </div>
  </div>

  <!-- Tab Content -->
  <div class="col-8 bg-light p-4">
    <div class="tab-content" id="nav-tabContent">
      <!-- New Account Tab -->
      <div *ngIf="activeTab === 'view-account'">
        <app-view-account
          [(user)]="user"
          (userChange)="onUserChange($event)"
        ></app-view-account>
      </div>

      <div *ngIf="activeTab === 'new-account'">
        <app-add-account
          [(user)]="user"
          (userChange)="onUserChange($event)"
        ></app-add-account>
      </div>

      <!-- Transfer Funds Tab -->
      <div *ngIf="activeTab === 'transfer'">
        <app-transfer
          [(user)]="user"
          (userChange)="onUserChange($event)"
        ></app-transfer>
      </div>

      <!-- Transaction History Tab -->
      <div *ngIf="activeTab === 'history'">
        <app-view-transactions [user]="user"></app-view-transactions>
      </div>
    </div>
  </div>
</div>
