<!-- new-account.component.html -->
<div class="d-flex flex-column">
  <form [formGroup]="createForm" (ngSubmit)="create()" novalidate>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column p-2">
        <label for="name"><small>Account Name</small></label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          formControlName="name"
        />
        <div
          *ngIf="submitted && createForm.get('name')?.invalid"
          class="small text-danger"
        >
          <div *ngIf="createForm.get('name')?.errors?.['required']">
            Please enter a name.
          </div>
          <div *ngIf="createForm.get('name')?.errors?.['maxlength']">
            Account names cannot exceed 25 characters.
          </div>
        </div>
      </div>

      <div class="d-flex flex-column p-2">
        <label for="balance"><small>Balance</small></label>
        <input
          class="form-control"
          type="text"
          id="balance"
          name="balance"
          formControlName="balance"
        />
        <div
          *ngIf="submitted && createForm.get('balance')?.invalid"
          class="small text-danger"
        >
          <div *ngIf="createForm.get('balance')?.errors?.['required']">
            Initial balance is required.
          </div>
          <div
            *ngIf="createForm.get('balance')?.errors?.['pattern'] || createForm.get('balance')?.errors?.['min']"
          >
            Invalid number format. Balance must be a non-negative number, up to
            two decimal places.
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center py-2">
        <label class="px-2 form-check-label">
          <input
            class="form-check-input"
            type="radio"
            value="chequings"
            formControlName="accountType"
          />
          <span class="px-2">Chequings</span>
        </label>
        <label class="px-2 form-check-label">
          <input
            class="form-check-input"
            type="radio"
            value="savings"
            formControlName="accountType"
          />
          <span class="px-2">Savings</span>
        </label>
      </div>
      <div class="d-flex flex-row justify-content-end">
        <app-button
          type="submit"
          label="Create new {{ createForm.value.accountType || '' }} account"
          [accountType]="createForm.value.accountType || ''"
        ></app-button>
      </div>
    </div>
  </form>
</div>
