<div class="container-fluid">
  <div class="row">
    <div class="sidebar col-sm-auto sticky-top">
      <div
        class="sidebar d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top"
      >
        <a
          routerLink="/"
          class="d-block p-3 link-light"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Icon-only"
        >
          <i class="bi bi-bank fs-1"></i>
        </a>
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center"
        >
          <li class="nav-item">
            <a
              routerLink="/account"
              class="nav-link py-3 px-2 text-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Home"
            >
              <i class="bi bi-house fs-2"></i>
            </a>
          </li>
          <li>
            <a
              routerLink="/account/transfer"
              class="nav-link py-3 px-2 text-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Transfer"
            >
              <i class="bi bi-arrow-left-right fs-2"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-sm p-3 min-vh-100 position-relative align-items-center justify-content-center"
    >
      <div class="d-flex justify-content-end mb-3 px-5">
        <div class="dropdown">
          <i class="bi bi-person-circle fs-1"></i>
        </div>
      </div>
      <div class="row px-5 py-2">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a
              class="list-group-item list-group-item-action active"
              id="list-new-account-list"
              data-bs-toggle="list"
              href="#list-new-account"
              role="tab"
              aria-controls="list-new-account"
              >New Account</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-transfer-list"
              data-bs-toggle="list"
              href="#list-transfer"
              role="tab"
              aria-controls="list-transfer"
              >Transfer Funds</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-history-list"
              data-bs-toggle="list"
              href="#list-history"
              role="tab"
              aria-controls="list-history"
              >Previous Transfers</a
            >
          </div>
        </div>
        <div class="col-8 bg-light p-4">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="list-new-account"
              role="tabpanel"
              aria-labelledby="list-new-account-list"
            >
              <div class="d-flex flex-column">
                <form [formGroup]="createForm" (ngSubmit)="create()" novalidate>
                  <div class="d-flex flex-column">
                    <div class="d-flex flex-column p-2">
                      <label for="name"><small>Account Name</small></label>
                      <input
                        class="form-control"
                        type="text"
                        id="name"
                        name="name"
                        formControlName="name"
                      />
                    </div>

                    <div class="d-flex flex-column p-2">
                      <label for="balance"><small>Balance</small></label>
                      <input
                        class="form-control"
                        type="text"
                        id="balance"
                        name="balance"
                        formControlName="balance"
                      />
                    </div>
                    <div class="d-flex flex-row justify-content-center py-2">
                      <label class="px-2 form-check-label">
                        <input
                          class="form-check-input"
                          type="radio"
                          value="chequings"
                          formControlName="accountType"
                        />
                        <span class="px-2">Chequings</span>
                      </label>
                      <label class="px-2 form-check-label">
                        <input
                          class="form-check-input"
                          type="radio"
                          value="savings"
                          formControlName="accountType"
                        />
                        <span class="px-2">Savings</span>
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md">
                      Create new {{ createForm.value.accountType }} account
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="list-transfer"
              role="tabpanel"
              aria-labelledby="list-transfer-list"
            >
              <div class="d-flex flex-column">
                <form
                  [formGroup]="transferForm"
                  (ngSubmit)="transfer()"
                  novalidate
                >
                  <div class="d-flex flex-column">
                    <div class="d-flex flex-column p-2">
                      <label for="from"><small>From</small></label>
                      <input
                        class="form-control"
                        type="text"
                        id="from"
                        name="from"
                        formControlName="from"
                      />
                    </div>

                    <div class="d-flex flex-column p-2">
                      <label for="to"><small>To</small></label>
                      <input
                        class="form-control"
                        type="text"
                        id="to"
                        name="to"
                        formControlName="to"
                      />
                    </div>
                    <div class="d-flex flex-column p-2">
                      <label for="amount"><small>Amount</small></label>
                      <input
                        class="form-control"
                        type="text"
                        id="amount"
                        name="amount"
                        formControlName="amount"
                      />
                    </div>
                    <button type="submit" class="btn btn-primary btn-md m-2">
                      Transfer Funds
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="list-history"
              role="tabpanel"
              aria-labelledby="list-history-list"
            >
              List of Previous Transfers
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
