<div class="d-flex flex-column">
  <form [formGroup]="transferForm" (ngSubmit)="transfer()">
    <div class="d-flex flex-column">
      <!-- From Account Selection -->
      <div class="d-flex flex-column p-2">
        <label for="from"><small>From</small></label>
        <select
          class="form-control"
          id="from"
          name="from"
          formControlName="from"
        >
          <option value="" disabled selected>Select an account</option>
          <option *ngFor="let account of user.accounts" [value]="account.id">
            {{ account.name }} - Balance: ${{
              account.balance | number : "1.2-2"
            }}
          </option>
        </select>
      </div>

      <!-- To Account Selection -->
      <div class="d-flex flex-column p-2">
        <label for="to"><small>To</small></label>
        <select class="form-control" id="to" name="to" formControlName="to">
          <option value="" disabled selected>Select an account</option>
          <option *ngFor="let account of user.accounts" [value]="account.id">
            {{ account.name }} - Balance: ${{
              account.balance | number : "1.2-2"
            }}
          </option>
        </select>
        <small
          *ngIf="transferForm.errors?.['sameAccounts'] && transferForm.touched"
          class="text-danger mt-1"
        >
          Accounts cannot be the same.
        </small>
      </div>

      <!-- Amount Input -->
      <div class="d-flex flex-column p-2">
        <label for="amount"><small>Amount</small></label>
        <input
          class="form-control"
          type="number"
          id="amount"
          name="amount"
          formControlName="amount"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-md m-2"
        [disabled]="transferForm.invalid"
      >
        Transfer Funds
      </button>
    </div>
  </form>
</div>
