<div class="container">
  <!-- Search and Account Selection
  <div class="d-flex justify-content-start mb-3">
    <div class="w-75">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Transaction ID"
      />
    </div>
  </div> -->

  <!-- Transaction Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>From Account</th>
        <th>To Account</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of user.transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ getAccountName(transaction.fromAccountId) }}</td>
        <td>{{ getAccountName(transaction.toAccountId) }}</td>
        <td>{{ transaction.amount | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
