<div class="container-fluid gy-0">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column align-items-center">
        <i class="bi bi-bank mb-2 h1"></i>
        <div>Get Started</div>
        <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
          <div class="d-flex flex-row">
            <div class="d-flex flex-column px-2">
              <label for="firstname"><small>First Name</small></label>
              <input
                class="form-control"
                type="text"
                id="firstname"
                name="firstname"
                formControlName="firstname"
              />
              <div
                *ngIf="
                  submitted &&
                  registerForm.get('firstname')?.invalid &&
                  (registerForm.get('firstname')?.touched ||
                    registerForm.get('firstname')?.dirty)
                "
                class="small text-danger"
              >
                <div
                  *ngIf="registerForm.get('firstname')?.errors?.['required']"
                >
                  First name is required.
                </div>
                <div *ngIf="registerForm.get('firstname')?.errors?.['pattern']">
                  First name cannot contain special characters.
                </div>
              </div>
            </div>

            <div class="d-flex flex-column px-2">
              <label for="lastname"><small>Last Name</small></label>
              <input
                class="form-control"
                type="text"
                id="lastname"
                name="lastname"
                formControlName="lastname"
              />
              <div
                *ngIf="
                  submitted &&
                  registerForm.get('lastname')?.invalid &&
                  (registerForm.get('lastname')?.touched ||
                    registerForm.get('lastname')?.dirty)
                "
                class="small text-danger"
              >
                <div *ngIf="registerForm.get('lastname')?.errors?.['required']">
                  Last name is required.
                </div>
                <div *ngIf="registerForm.get('lastname')?.errors?.['pattern']">
                  Last name cannot contain special characters.
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column px-2">
            <label for="email"><small>Email</small></label>
            <input
              class="form-control"
              type="text"
              id="email"
              name="email"
              formControlName="email"
            />
            <div
              *ngIf="
                submitted &&
                registerForm.get('email')?.invalid &&
                (registerForm.get('email')?.touched ||
                  registerForm.get('email')?.dirty)
              "
              class="small text-danger"
            >
              <div *ngIf="registerForm.get('email')?.errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="registerForm.get('email')?.errors?.['email']">
                Please enter a valid email.
              </div>
            </div>
          </div>

          <div class="d-flex flex-column px-2">
            <label for="password"><small>Password</small></label>
            <div class="input-group">
              <input
                class="form-control"
                [type]="hide ? 'password' : 'text'"
                id="password"
                name="password"
                formControlName="password"
                style="
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  border-right: 0;
                "
              />
              <div class="input-group-append">
                <span
                  class="input-group-text bg-white border-left-0"
                  style="
                    cursor: pointer;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-left: 0;
                  "
                  (click)="toggleShow()"
                >
                  <i
                    class="bi"
                    [ngClass]="hide ? 'bi-eye' : 'bi-eye-slash'"
                  ></i>
                </span>
              </div>
            </div>
            <div
              *ngIf="
                submitted &&
                registerForm.get('password')?.invalid &&
                (registerForm.get('password')?.touched ||
                  registerForm.get('password')?.dirty)
              "
              class="small text-danger"
            >
              <div *ngIf="registerForm.get('password')?.errors?.['required']">
                Password is required.
              </div>
            </div>
          </div>

          <div class="d-flex flex-column px-2">
            <label for="accountName"><small>Account Name</small></label>
            <input
              class="form-control"
              type="text"
              id="accountName"
              name="accountName"
              formControlName="accountName"
            />
            <div
              *ngIf="
                submitted &&
                registerForm.get('accountName')?.invalid &&
                (registerForm.get('accountName')?.touched ||
                  registerForm.get('accountName')?.dirty)
              "
              class="small text-danger"
            >
              <div
                *ngIf="registerForm.get('accountName')?.errors?.['required']"
              >
                Account name is required.
              </div>
              <div *ngIf="registerForm.get('accountName')?.errors?.['pattern']">
                Account name must be between 1 and 25 characters and can only
                contain letters, numbers, and spaces.
              </div>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-center py-2">
            <label class="px-2 form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="chequings"
                formControlName="accountType"
              />
              <span class="px-2">Chequings</span>
            </label>
            <label class="px-2 form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="savings"
                formControlName="accountType"
              />
              <span class="px-2">Savings</span>
            </label>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div
              *ngIf="submitted && registerForm.get('accountType')?.invalid"
              class="small text-danger"
            >
              <div
                *ngIf="registerForm.get('accountType')?.errors?.['required']"
              >
                Account type is required.
              </div>
            </div>
          </div>

          <div class="d-flex flex-column px-2">
            <label for="balance"><small>Balance</small></label>
            <input
              class="form-control"
              type="number"
              id="balance"
              name="balance"
              formControlName="balance"
            />
            <div
              *ngIf="
                submitted &&
                registerForm.get('balance')?.invalid &&
                (registerForm.get('balance')?.touched ||
                  registerForm.get('balance')?.dirty)
              "
              class="small text-danger"
            >
              <div *ngIf="registerForm.get('balance')?.errors?.['required']">
                Balance is required.
              </div>
              <div *ngIf="registerForm.get('balance')?.errors?.['min']">
                Balance cannot be negative.
              </div>
              <div *ngIf="registerForm.get('balance')?.errors?.['pattern']">
                Balance must be a valid number with up to two decimal places.
              </div>
            </div>
          </div>

          <div
            class="d-flex flex-column p-2 align-items-center justify-content-center"
          >
            <app-button
              type="submit"
              label="Create new {{
                registerForm.value.accountType || ''
              }} account"
              [accountType]="registerForm.value.accountType || ''"
            ></app-button>
            <p>
              <small
                >Already have an account?
                <a routerLink="/login">Login</a></small
              >
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="col px-0 d-none d-md-block">
      <div class="gradient vh-100 w-100 px-0"></div>
    </div>
  </div>
</div>
