<div class="d-flex flex-column">
  <form [formGroup]="transferForm" (ngSubmit)="transfer()">
    <div class="d-flex flex-column">
      <!-- From Account Selection -->
      <div class="d-flex flex-column p-2">
        <label for="from"><small>From</small></label>
        <select
          class="form-control"
          id="from"
          name="from"
          formControlName="from"
        >
          <option value="" disabled selected>Select an account</option>
          <option *ngFor="let account of user.accounts" [value]="account.id">
            {{ account.name }} - Balance: ${{
              account.balance | number : "1.2-2"
            }}
          </option>
        </select>
      </div>

      <!-- To Account Selection -->
      <div class="d-flex flex-column p-2">
        <label for="to"><small>To</small></label>
        <select class="form-control" id="to" name="to" formControlName="to">
          <option value="" disabled selected>Select an account</option>
          <option *ngFor="let account of user.accounts" [value]="account.id">
            {{ account.name }} - Balance: ${{
              account.balance | number : "1.2-2"
            }}
          </option>
        </select>
      </div>

      <!-- Amount Input -->
      <div class="d-flex flex-column p-2">
        <label for="amount"><small>Amount</small></label>
        <input
          class="form-control"
          type="number"
          id="amount"
          name="amount"
          formControlName="amount"
        />
        <div class="small text-danger">
          <div
            *ngIf="transferForm.get('amount')?.errors?.['pattern'] || transferForm.get('amount')?.errors?.['min']"
          >
            Invalid number format. Amount must at least 1, up to two decimal
            places.
          </div>
          <div *ngIf="transferForm.hasError('insufficientFunds')">
            Insufficient funds. Please select a different account or amount.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-md m-2"
        [disabled]="transferForm.invalid"
      >
        Transfer Funds
      </button>
    </div>
  </form>
</div>
