<div class="container-fluid">
  <!-- Account List Section -->
  <div class="row gx-5 p-1">
    <div class="col-12 mb-4" *ngFor="let account of user?.accounts">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-primary">
            {{ account.name || "" }}
          </h5>
          <p class="card-text">
            Balance:
            <span class="fw-bold">{{ account.balance | currency }}</span>
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Account Type:
              {{ (account.accountType | titlecase) || "N/A" }}</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
